@model LRTV.ViewModels.TeamViewModel

@{
    var team = Model.Team;
    var players = Model.Players;
    ViewData["Title"] = team.Name;
}

<style>
    .player-container {
        padding: 10px;
        margin-right: 20px;
        margin-left: 20px;

    }
</style>

<div class="container   ">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="row">
                @foreach (var player in players)
                {
                    <div class="col-sm-2 col-md-2 text-center player-container">
                        <img class="img-fluid" src="@player.Image" alt="@player.Nickname" style="max-width: 200px; height: auto;">
                        <div><a asp-controller="Player" asp-action="Player" asp-route-playerId="@player.Id" style="text-decoration: none; color:inherit">@player.Nickname</a></div>
                    </div>
                }
            </div>
        </div>
    </div>


    <hr style="margin: 0 0;border: none; height: 10px; background-color: #8499B1;">
    <div class="row">
        <div class="col-md-12">
            <p>
                @if (team.Image != "noNamer.jpg")
                {
                    <img class="card-img-top" src="@team.Image" alt="Card image cap" style="max-width: 100px; height: auto;">
                }
                else
                {
                    <img class="card-img-top" src="/images/noNamer.jpg" alt="Card image cap">
                }
                <strong style="font-size: 36px; top: 20px;">@team.Name</strong>

            </p>
            <hr style="margin: 0 0;border: none; height: 2px; background-color: #8499B1;">
            <p>Current Ranking: @team.Ranking</p>
            <hr style="margin: 0 0;border: none; height: 2px; background-color: #8499B1;">
            <p>Region: @team.Region</p>
            <hr style="margin: 0 0;border: none; height: 2px; background-color: #8499B1;">
            <br />
            <h3 style="margin-top:150px; text-align:right; text-decoration:none; color:inherit">
                <a asp-controller="Teams" asp-action="ModifyTeam" asp-route-teamId="@team.Id" class="btn btn-link" style="text-decoration:none; color:inherit">Edit Team @team.Name</a>
                <a asp-controller="Teams" asp-action="DeleteTeam" asp-route-teamId="@team.Id" class="btn btn-link" style="text-decoration:none; color:inherit">Delete Team @team.Name</a>
            </h3>
            <p style="margin-top:100px; text-align:center"><a asp-action="Index">Back to home page</a></p>


        </div>
    </div>

    
</div>
