@model TeamModel

@{
    TeamModel team = Model;
    ViewData["Title"] = team.Name;
}

<h1>Team : @team.Name</h1>

<article>
    <h2>
        @* <img src="/images/@(Model.Nickname.ToLower()).jpg" alt="Image"> *@
        @if (@Model.Image != "noNamer.jpg")
        {
            <img class="card-img-top" src="@Model.Image" alt="Card image cap" width="auto" height="auto">
        }
        else
        {
            <img class="card-img-top" src="/images/noNamer.jpg" alt="Card image cap">
        }
    </h2>
    <h2>Name : @team.Name</h2>
    <p>Cel mai tare baiat in varsta de @team.Ranking care joaca la echipa @team.Region</p>
</article>

<a asp-action="Index">Back to home page</a>