@model NewsModel
@using Markdig
@using System.Web
@{
	NewsModel news = Model;
	ViewData["Title"] = news.Title;
}

<h1>Title: @news.Title</h1>

<article>
	<h2>Lead: @news.Lead</h2>
	<p>Article by @news.Author at the date @news.Data in cathegory @news.Cathegory!.Name</p>
    @if (@Model.Image != "noNamer.jpg")
    {
        <img class="card-img-top" src="@Model.Image" alt="Card image cap" width="auto" height="auto">
    }
    else
    {
        <img class="card-img-top" src="/images/noNamer.jpg" alt="Card image cap">
    }
    @try
    {
        if (!string.IsNullOrEmpty(Model.Body))
        {
            <div id="main">@Html.Raw(Markdown.ToHtml(Model.Body))</div>
        }
    }
    catch (Exception ex)
    {
        <div>No body</div>
    }
</article>

<a asp-action="Index">Back to Today's news</a>