@model NewsModel
@using Markdig
@using System.Web
@{
	NewsModel news = Model;
	ViewData["Title"] = news.Title;
}
<style>
    p :{
        border = none;
        margin = 0 0;
        padding = 0px;
    }
    h1,h2 :{
        margin = 0 0;
        border = none;
    }
</style>
<p>@news.Cathegory!.Name</p>
<h1>@news.Title</h1>
<p>@news.Author</p>
<p>@news.Data</p>
<article>
	<h2>@news.Lead</h2>
    @if (@Model.Image != "noNamer.jpg")
    {
        <img class="card-img-top" src="@Model.Image" alt="Card image cap" width="auto" height="auto">
    }
    else
    {
        <img class="card-img-top" src="/images/noNamer.jpg" alt="Card image cap">
    }
    @try
    {
        if (!string.IsNullOrEmpty(Model.Body))
        {
            <div id="main">@Html.Raw(Markdown.ToHtml(Model.Body))</div>
        }
    }
    catch (Exception ex)
    {
        <div>No body</div>
    }
</article>

<a asp-action="Index">Back to Today's news</a>