@model List<PlayerModel>

@{
    List<PlayerModel> players = Model;
    ViewData["Title"] = "player";

}

<h1>Pagina Jucator</h1>

@{
    foreach(PlayerModel player in players)
    {
        <hr style="margin: 0 0;border: none; height: 2px; background-color: #8499B1;">
        <h2><a asp-controller="Player" asp-action="Player" asp-route-playerId="@player.Id" style="text-decoration: none; color:inherit">@player.Nickname</a> </h2>
        <h2>
            <a asp-controller="Player" asp-action="ModifyPlayer" asp-route-playerId="@player.Id" class="btn btn-link" style="text-decoration: none; color:inherit">Edit player @player.Nickname</a>
            <a asp-controller="Player" asp-action="DeletePlayer" asp-route-playerId="@player.Id" class="btn btn-link" style="text-decoration: none; color:inherit">Delete player @player.Nickname</a>
        </h2>
        <br/>
    }
    <hr style="margin: 0 0;border: none; height: 2px; background-color: #8499B1;">
}

<h3><a asp-action ="AddPlayer" class="btn btn-link">Add a new player</a></h3>