@model PlayerModel

@{
    PlayerModel player = Model;
    ViewData["Title"] = player.Nickname;
}

<h1>Player : @player.Nickname</h1>

<articke>
    <h2>Name : @player.Name</h2>
    <p>Cel mai tare baiat in varsta de @player.Age care joaca la echipa @player.CurrentTeam cu whooping rating de @player.Rating</p>
</articke>

<a asp-action="Index">Back to home page</a>