@model PlayerModel

@{
    PlayerModel player = Model;
    ViewData["Title"] = player.Nickname;
}

<h1>Player : @player.Nickname</h1>

<article>
    <h2>
        @if (@Model.Image != "noNamer.jpg")
        {
            <img class="card-img-top" src="@Model.Image" alt="Card image cap" maxwidth="200px" height="auto">
        }
        else
        {
            <img class="card-img-top" src="/images/noNamer.jpg" alt="Card image cap">
        }
    </h2>
    <h2>Name : @player.Name</h2>
    <p>Cel mai tare baiat in varsta de @player.Age care joaca la echipa @player.CurrentTeam.Name cu whooping rating de @player.Rating</p>
</article>

<a asp-action="Index">Back to home page</a>